body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:  100vh;
    background: linear-gradient(72deg, rgb(76, 11, 150) 1%,rgb(61, 0, 30) 99%);
}

.content{
    height:  520px;
    width:   935px;
    border-radius:  20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.navegation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{

    width: 70px;
    height: 17px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(169, 43, 207);
    transition: .6s;
}
.bar:hover{
    background-color: #ffffff;/*cor com mouse sobre*/
}
input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .6s;

}
.slide img{
    width: 100%;
    height: 100%;


}

